<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Feeling so special!</h1>
    <p>
      Hi <%= @user.name %>,<br /><br />
      	Your wishes made my day :).<br /><br/>
      Regards,<br/>
      David
    </p>
    <p>
      Keep visiting: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>