<%- digits_array = Pin.count.to_s.chars.to_a.reverse%>
<p class="hidden" id="pinscount"><%=Pin.count%></p>
<div class="footer footer-main">
	<div class="container">
		<div style="" class="footer_teaser">
			<p>David Bedussa <br/>
				Tel Aviv,<br/>
				Israel
			</p>
			<p><i class="fa fa-envelope"></i> Davidbedussa@gmail.com</p>
			<div class="social_wrapper"><a href="https://www.facebook.com/Davidbedussa"><i class="fa fa-facebook"></i></a> <a href="http://www.twitter.com/baddy11"><i class="fa fa-twitter"></i></a> <a href="https://www.linkedin.com/profile/view?id=270327217&trk=nav_responsive_tab_profile"><i class="fa fa-linkedin"></i></a></div>
		</div>
		<p class="counter-heading black" style="color:black;">Number of wishes</p>
		<div class="counter-wrapper">
		  <ul class="flip-counter default" id="c1"></ul>
		</div>
		<!-- <div class=footer-counter>
		<%- (0..3).to_a.each do |index|%>
		 <%= image_tag("#{digits_array[3-index].to_i}.jpg", :style => "width:35px;border:4px solid #eee")%>
		 <% end%>
		</div> -->
	</div>
</div>
<script>
	(function(i, s, o, g, r, a, m) {
		i['GoogleAnalyticsObject'] = r;
		i[r] = i[r] ||
		function() {
			(i[r].q = i[r].q || []).push(arguments)
		}, i[r].l = 1 * new Date();
		a = s.createElement(o), m = s.getElementsByTagName(o)[0];
		a.async = 1;
		a.src = g;
		m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-54360840-1', 'iam21.today');
	ga('send', 'pageview');

</script>

